:root {
    --back-color:#2F303A;
    --second-back-color:#F5F4FA;
    --accent-color: #2196F3;
    --text-color: #212121;
    --second-text-color: #757575;
    --btn-color: #FFFFFF;
    --border-color: #EEEEEE;
    --bottom-border-color: #ECECEC;
}


p,
h1,
h2,
h3 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
  }
  
  img {
    display: block;
  }
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, Raleway, sans-serif; ;
  color: var(--text-color);
}
.list {
    list-style: none;
}


.header-logo,
.header-link, 
.link-mail, 
.link-tel, 
.footer-logo, 
.link-address, 
.link-email, 
.link-tell {
  text-decoration: none;
}
/* --------шапка сайта------------ */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.header-link {
  display: block;
  padding: 32px 0;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-list {
  display: flex;

}
.header-nav {
  display: flex;
  align-items: center;
}
.container-header {
  display: flex;
}
.header-cont {
  display: flex;
  margin-left: auto;
}
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--bottom-border-color);
}
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color); 
  margin-right: 93px;
}

span.logo-color {
color: var(--text-color);
}
.header-item:not (:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.header-mail, .header-tel {
  display: flex;
  align-items: center;
}
.link-mail,
.link-tel {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--second-text-color);
  flex-direction: row-reverse;
}
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-mail:focus {
  color: var(--accent-color);
}

.mail-icon {
  display: flex; 
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  display: flex;
  margin-right: 10px;
  margin-left: 30px;
  fill: currentColor;
}
.mail-icon:hover,
.mail-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
  fill: var(--accent-color);
}

.header-mail:hover .mail-icon,
.header-mail:focus .mail-icon,
.header-tel:hover .phone-icon,
.header-tel:focus .phone-icon {
  fill: var(--accent-color);
}
/* --------герой------------ */
.hero {
  background-color: var(--back-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 120px;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url("../images/bcground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
display: block;
font-family: inherit;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--btn-color);
max-width: 696px;
margin-left: auto;
margin-right: auto;
}
.hero-btn {
  min-width: 200px;
  min-height: 50px;
  left: 700px;
  top: 430px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--btn-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--back-color);
}
/* --------преимущества------------ */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-list .item {
  display: block;
  width: 270px;
  margin-right: 30px;
}
.advantages-list .item:nth-child(4n) {
  margin-right: 0px;
}

  .advantages-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
  }

.advantages-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* --------чем занимаемся------------ */

.functions {
  padding-top: 0;
  padding-bottom: 94px;
}
.funct-container {
  margin-left: auto;
  margin-right: auto;
}

.functions-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
  align-items: center;
}
.functions-list {
  display: flex;
  flex-wrap: wrap;
}
.functions-item {
  display: block;
  max-width: 370px;
  margin-right: 30px;
}
.functions-item:nth-child(3n) {
  margin-right: 0px;
}
/* --------наша команда------------ */
.team {
  background-color: var(--second-back-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list .team-item {
  display: block;
  width: 270px;
  margin-right: 30px;
}
.team-list .team-item:nth-child(4n) {
  margin-right: 0px;
}
.team-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}
.team-member {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-position {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.picture-asign {
  background-color: var(--btn-color);
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-bottom-color:var(--second-text-color)
}
/* --------футер------------ */
.footer {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
span.part-color {
  color: var(--btn-color);
}
.footer-list {
  font-style: normal;
}
.footer-address {
  margin-top: 20px;
}
.footer-mail, .footer-tel {
  margin-top: 9px;
}
.link-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btn-color);
}
.link-email,
.link-tell {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
}
.link-email:hover,
.link-email:focus,
.link-tell:hover,
.link-tell:focus {
  color: var(--second-text-color);
}

  /* -------ПОРТФОЛИО------------ */
.portfolio-info {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-btn {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--second-back-color);
  color: var(--text-color);
  border-radius: 4px;
  padding: 6px 22px;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
}
.active {
  background-color: #188CE8;
}
.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.btn-top:not(:last-child) {
  margin-right: 8px;
}
.asign .portfolio-title {
font-family: Roboto;
font-weight: 700;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--text-color);
margin-bottom: 10px;
}
.portfolio-description {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--second-text-color);
}
.asign {
  background-color: var(--btn-colorr);
  max-width: 370px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 20px 24px;
}
.portflio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 60px) /3);
}

.port-project {
  margin-right: 30px;
  margin-bottom: 30px;
}
.port-project:nth-child(3n) {
  margin-right: 0px;
}
.port-project:nth-child(n + 6) {
  margin-bottom: 0;
}